
@{
    ViewData["Title"] = "Notifications";
}

<h1 class="container text-center mt-2 mb-5" style="color:blueviolet">Notifications</h1>

<div asp-validation-summary="All" class="text-danger text-center" role="alert"></div>

